<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/mylinq.csdl|res://*/mylinq.ssdl|res://*/mylinq.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="QuerySamples.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=gujian"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>